@import "libs";
@import "helpers/variables";
@import "helpers/mixins";
@import "general/fonts";
@import "general/base";
@import "../blocks/blocks";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');

$light-color : #ffffff;
$dark-color : #061e37;
$grey-color : #b0bec5;
$green-color : #1de9b6;
$blue-color : #82b1ff;
$violet-color : #b388ff;
$pink-color : #ea80fc;
$light-blue-color : #80d8ff;
body{
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 24px;
  max-width: 1600px;
  color: $light-color;
}

.clear{
  clear: both;
}
.page{
  width: 100%;
  &-btn{
    display: flex;

  }
  &-btn-center{
    justify-content: center;
  }
}
.page-main{
  margin-top: 0;
  width: 100%;
  height: 750px;
  background-image: linear-gradient(to right, rgba(24, 228, 194, .85) 0%, rgba(13,180, 203, .85) 100%), url("../img/bg-main.png");
  background-repeat: no-repeat;
}
.wrap{
  margin-left: 5%;
  margin-right: 5%
}

.logo{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-basis: 15%;
  width: 15%;
  color: $light-color;
  line-height: 1;
  &__img{

  }
  &__text{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 400;
    span{
      margin: 0;
      padding: 0;
      display: block;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
}
.png-icon{

}
.header{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list{
    margin: 0;
    padding: 0;
    flex-basis: 75%;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  &__item:not(:last-child){
      margin-right: 50px;
  }
  &__link{
    text-decoration: none;
    color: $light-color;
    text-transform: capitalize;
    display: block;
    box-sizing: border-box;
    &:hover{
      color: $dark-color;
    }
  }
  &__btn{
  }
}
.btn {
  color: #000;
  flex-shrink: 0;
  padding: 20px 20px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.btn-dark {
    background-color: $dark-color;
    color: $light-color;
}
.btn-green {
  background-color: $green-color;
  color: $light-color;
}
.btn-center{
  align-self: center;
}
.btn-sign-up {
  font-size: 12px;
  text-transform: lowercase;
  color: $light-color;
  background-color: transparent;
  border: 1px solid $light-color;
  border-radius: 2px;
  flex-shrink: 0;
  padding:  5px 18px;
  font-weight: 400;
}
.btn-text-uppercase{
  text-transform: uppercase;
}

.block-main{
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  &-content{
    flex-basis: 40%;
    width: 40%;
    &__title{
      font-weight: 800;
      font-size: 55px;
      text-transform: uppercase;
      line-height: 1.1;
      letter-spacing: 1.4px;
      margin: 0;
    }
    &__text{
      font-weight: 400;
      font-size: 18px;
      line-height: 2;
      margin-top: 5px;
    }
    &__btn{
        margin-right: 35px;
        width: 150px;
    }
  }
  &-video{
    flex-basis: 40%;
    width: 40%;

  }
}
.block-main-content-actions{
  margin-top: 30px;
}

#player {
  border: 1px solid black;
  padding: 0;
  margin: 0;
  width: 598px;
  height: 319px;
  background-color: black;
  margin: auto;
  display: none;
}
#fake-player {
  clear: both;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  width: 598px;
  height: 319px;
  background-color: black;
  background-image: url("../img/video.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $dark-color;
  box-shadow:0 0 0 250px rgba(255, 255, 255, 0.9) inset;
}
.player__btn{
  height: 60px;
  width: 60px;
  padding:  10px 10px;
  font-size: 10px;
  margin-top: 15px;
  i{
    color: $light-color;
  }
}
.player__text{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 20px;
}
.block-page-title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__title{
    color: $dark-color;
    font-size: 45px;
  }
  &__subtitle{
    color: $grey-color;
    font-size: 25px;
  }
  &__text{
    color: $grey-color;
    font-size: 15px;
  }
}

.block-works{
  display: flex;
  justify-content: space-between;

}
.block-work-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    color: $dark-color;
    font-size: 20px;
  }
  &__text{
    color: $grey-color;
    font-size: 15px;
  }
}

.info-blocks{
  display: flex;
  justify-content: space-between;
}

.block-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  width: 25%;
}
.block-info--light-blue{
  background-color: $light-blue-color;
  background-image: url("../img/business.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.block-info--blue{
  background-color: $blue-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.block-info--violet{
  background-color: $violet-color;
}
.block-info--pink{
  background-color: $pink-color;
}
.png-icon-round{
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 20px;
    height: 20px;
    border: none;
  }
}