<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>gulp-scss-starter</title>
		//= includes/head.html
	</head>
	<body>
	<div class="page page-main">
		<div class="wrap">
			<div class="header">
				<a href="#" class="logo header__logo">
					<img class="logo__img" src="../img/logo.svg" alt="logo">
					<p class="logo__text">dart
						<span>service manager</span>
					</p>
				</a>
				<ul class="header__list">
					<li class="header__item active"><a href="#" class="header__link">Home</a></li>
					<li class="header__item"><a href="#" class="header__link">service</a></li>
					<li class="header__item"><a href="#" class="header__link">Extension</a></li>
					<li class="header__item"><a href="#" class="header__link">pricing</a></li>
					<li class="header__item"><a href="#" class="header__link">help</a></li>
				</ul>
				<button class="btn btn-sign-up header__btn">sign up</button>
			</div>
			<div class="product__actions">
				<button class="btn btn-text-uppercase btn-dark">Buy Now</button>
				<button class="btn btn-text-uppercase">Try for free</button>
			</div>
		</div>
	</div>
	</body>
</html>