<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>gulp-scss-starter</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		//= includes/head.html
	</head>
	<body>
	<div class="page page-main">
		<div class="wrap">
			<div class="header">
				<a href="#" class="logo header__logo">
					<img class="logo__img" src="../img/logo.svg" alt="logo">
					<p class="logo__text">dart
						<span>service manager</span>
					</p>
				</a>
				<ul class="header__list">
					<li class="header__item active"><a href="#" class="header__link">Home</a></li>
					<li class="header__item"><a href="#" class="header__link">service</a></li>
					<li class="header__item"><a href="#" class="header__link">Extension</a></li>
					<li class="header__item"><a href="#" class="header__link">pricing</a></li>
					<li class="header__item"><a href="#" class="header__link">help</a></li>
				</ul>
				<button class="btn btn-sign-up header__btn">sign up</button>
			</div>
			<div class="block-main">
				<div class="block-main-content">
					<h1 class="block-main-content__title">lorem Ipsum Dolor sit amet</h1>
					<p class="block-main-content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore
						et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc</p>
					<div class="block-main-content-actions">
						<button class="btn btn-text-uppercase btn-dark block-main-content__btn">Buy Now</button>
						<button class="btn btn-text-uppercase block-main-content__btn">Try for free</button>
					</div>
				</div>
				<div class="block-main-video">
					<video id="player" controls="" preload="none" poster="http://media.w3.org/2010/05/sintel/poster.png">
						<source id="mp4" src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4">
						<p>Your user agent does not support the HTML5 Video element.</p>
					</video>
					<div id="fake-player">
						<button class="btn btn-dark player__btn" onclick="startPlayer()">
							<i class="fas fa-play"></i>
						</button>
						<p class="player__text">Watch the video</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="page">
		<div class="wrap">
			<div class="block-page-title block-page-title-works">
				<h2 class ="block-page-title__title">Easy & Useful</h2>
				<h3 class ="block-page-title__subtitle">Project Management Tool</h3>
				<p class ="block-page-title__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
			</div>
			<div class="block-works">
				<div class="block-work-type">
					<img class="block-work-type__img png-icon" src="../img/calendar.png" alt="calendar">
					<h3 class="block-work-type__title">Title Goes Here</h3>
					<p class="block-work-type__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="block-work-type">
					<img class="block-work-type__img png-icon" src="../img/men.png" alt="men1">
					<h3 class="block-work-type__title">Title Goes Here</h3>
					<p class="block-work-type__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="block-work-type">
					<img class="block-work-type__img png-icon" src="../img/men2.png" alt="men2">
					<h3 class="block-work-type__title">Title Goes Here</h3>
					<p class="block-work-type__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="page-btn page-btn-center">
				<button class="btn btn-green">get started</button>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="info-blocks">
			<div class="block-info block-info--light-blue">
				<div class="png-icon png-icon-round">
					<img src="../img/file_download.png" alt="business" class="png-icon png-icon-round">
				</div>
				<p class="block-info__title"><span>12000+</span>Business</p>
			</div>
			<div class="block-info block-info--blue">
				<img src="../img/file_download.png" alt="business" class="png-icon png-icon-round">
				<p class="block-info__title"><span>12000+</span>Business</p>
			</div>
			<div class="block-info block-info--violet">
				<img src="../img/person.png" alt="business" class="png-icon png-icon-round">
				<p class="block-info__title"><span>12000+</span>Business</p>
			</div>
			<div class="block-info block-info--pink">
				<img src="../img/file_download_2.png" alt="business" class="png-icon png-icon-round">
				<p class="block-info__title"><span>12000+</span>Business</p>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="wrap">
			<div class="block-page-title block-page-title-works">
				<h2 class ="block-page-title__title">Easy & Useful</h2>
				<h3 class ="block-page-title__subtitle">Project Management Tool</h3>
				<p class ="block-page-title__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="wrap">
			<div class="block-page-title block-page-title-works">
				<h2 class ="block-page-title__title">Easy & Useful</h2>
				<h3 class ="block-page-title__subtitle">Project Management Tool</h3>
				<p class ="block-page-title__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="wrap">
			<div class="block-page-title block-page-title-works">
				<h2 class ="block-page-title__title">Easy & Useful</h2>
				<h3 class ="block-page-title__subtitle">Project Management Tool</h3>
				<p class ="block-page-title__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="wrap">
			<div class="block-page-title block-page-title-works">
				<h2 class ="block-page-title__title">Easy & Useful</h2>
				<h3 class ="block-page-title__subtitle">Project Management Tool</h3>
				<p class ="block-page-title__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
			</div>
		</div>
	</div>
	<script>
		function init() {
			document._player = document.getElementById("player");
			document._playerfake = document.getElementById("fake-player");
		}
		document.addEventListener("DOMContentLoaded", init, false);

		function startPlayer() {
			document._playerfake.style.display ='none';
			document._player.style.display = 'block';
			document._player.play();
		}
	</script>
	</body>
</html>